* {
    margin: 0;
    padding: 0;
}

.raleway-primary {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.inter-primary {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

header {
    background-image: url(B12A01-landing-launchpad/Assets/Hero-bg.png);
}

/* shared styles  */
.primary-color {
    color: #4E47FF;

}

.primary-color-for-btn {
    background-color: #4E47FF;
    color: white;
}

/* nav style */
nav ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin-left: 150px;
    margin-right: 150px;
    padding-top: 51px;
}
nav li{  margin-left: 150px;
    margin-right: 150px;
    padding-top: 51px;}
.logo {
    font-size: 34px;
    font-weight: 900;
}

nav button {
    height: 48px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 10px;
    border-style: none;
    width: 132px;
}

/* banner style */
.banner h1 {
    font-size: 65px;
    font-weight: 800;
    text-align: center;
    margin-top: 310px;
    color: #252432;
}

.Stay-Focused-btn {
    font-size: 16px;
    font-weight: 600;
    margin: auto;
    width: 174px;
}

.Stay-Focused-btn button {
    height: 48px;
    border-style: none;
    border-radius: 10px;
    padding: 12px 36px;
    margin-top: 37px;
    margin-bottom: 150px;
}

/* action style */
.actions {
    display: flex;
    justify-content: space-between;
    margin-left: 196px;
    margin-top: 116px;
    margin-right: 196px;
}

.first-coloum h3 {
    font-size: 42px;
    font-weight: 800;
    margin-bottom: 23px;
}

.first-coloum p {
    font-size: 24px;
    color: #252432;
    margin-bottom: 23px;
}

.first-coloum button {
    height: 48px;
    width: 229px;
    border-radius: 10px;
    border-style: none;
}

.actions img {
    height: 328px;
    width: 403px;
    border-radius: 48px;
    margin-bottom: 116px;
}

/* Productive-Users-Section style */
.Productive-Users-Section h2 {
    font-size: 38px;
    font-weight: 800;
    text-align: center;
    padding-bottom: 40px;
    padding-top: 50px;
}

.success {
    display: flex;
    justify-content: space-around;
}

.success h3 {
    font-size: 80px;
    font-weight: 800;
}

.border {
    height: 306px;
    width: 1140px;
    border-radius: 25px;
    background-color: rgba(78, 71, 255, 0.1);
    margin: auto;
}

.success p {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
}

/* CHALLENGES style */
.CHALLENGES h2 {
    font-size: 42px;
    font-weight: 800;
    text-align: center;
    margin-top: 140px;
    margin-bottom: 50px;
}

.challenge {
    display: flex;
    justify-content: center;
    gap: 20px;

}

.loved-by-desingners {
    height: 29px;
    width: 221px;
    padding-top: 24px;
    padding-bottom: 8px;
}

.Reviewer-Image {
    display: flex;
}

.img-last {
    border-radius: 999px;
}
.card h3{ font-size: 24px; }
.cha-des {
    margin-bottom: 24px;
}

.card {
    border-radius: 15px;
    background-color: rgb(245, 247, 252);
    height: 204px;
    width: 300px;
    border-right: 20px;
}

.date {
    font-size: 16px;
    font-weight: 400;
    color: rgba(179, 179, 179, 1);
}

/* touch section style */
.full-touch {
    display: flex;
    justify-content: center;
    gap: 120px;
    margin-top: 130px;
}

.section-title {
    font-size: 97px;
    font-weight: 800;
    margin-top: 92px;
}

.email {
    height: 70px;
    width: 497px;
}

textarea {
    height: 135px;
    width: 497px;
}

.form input,
textarea {
    border-radius: 10px;
    border-style: none;
    background-color: rgb(245, 247, 252);
    margin: 11px 0px;
}

.touch-sec button {
    height: 62px;
    width: 497px;
    margin-left: 830px;
    margin-top: 14px;
    border-radius: 10px;
    border-style: none;
    font-size: 16px;
}

/* footer section style */
footer h1 {
    font-size: 100px;
    text-align: center;
    font-weight: bolder;
    margin-top: 104px;
    margin-bottom: 18px;
}

footer p {
    font-size: 18px;
    color: rgba(137, 135, 161, 1);
    text-align: center;
    max-width: 800px;
    margin: 0 auto 40px;
}

nav li a {
    text-decoration: none;

}

.navigation {
    margin: 30px 0;
}

nav ul {
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 30px;
}

nav li a {
    font-size: 16px;
    font-weight: 500;
    color: rgba(137, 135, 161, 1);
}nav li a:hover{ text-decoration: underline;}